@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --Dark-Mode-Elements: 209 23% 22%;
        --Dark-Mode-Background: 207 26% 17%;
        --Light-Mode-Text: 200 15% 8%;
        --Light-Mode-Input: 0 0% 52%;
        --Light-Mode-Background: 0 0% 98%;
        --Dark-Mode-Text-and-Light-Mode-Elements: 0 0% 100%;
    }

    @font-face {
        font-family: 'NunitoSans';
        src: url('../font/NunitoSans_10pt-Light.ttf') format('TrueType');
        font-weight: 300;
    }
    @font-face {
        font-family: 'NunitoSans';
        src: url('../font/NunitoSans_10pt-Medium.ttf') format('TrueType');
        font-weight: 600;
    }
    @font-face {
        font-family: 'NunitoSans';
        src: url('../font/NunitoSans_10pt-Bold.ttf') format('TrueType');
        font-weight: 800;
    }

    body {
        font-family: 'NunitoSans';
        @apply bg-LightMode_Background;
    }
}
.message{
    @apply text-center text-lg font-bold w-full;
}
body.dark-theme {
    @apply bg-DarkMode_Background text-DarkModeText_and_Light_Mode_Elements;
}

body.dark-theme .content {
    @apply bg-DarkMode_Elements;
}

.country-box {
    @apply content w-72 m-auto rounded-lg overflow-hidden transition-all duration-300 bg-white shadow-[0_0_15px] shadow-black/15 cursor-pointer hover:shadow-black/0 hover:-translate-y-2;
}

.country-box .flag-image {
    @apply w-full h-44 object-cover;
}

.country-box .detail-box {
    @apply p-2 pb-5;
}

.country-box .title {
    @apply text-lg font-bold py-4;
}

.filter-icon {
    @apply rotate-90 transition-all;
}

.filter-icon.active {
    @apply rotate-0;
}